*{
    padding: 0;
    margin: 0;
}

/*Header*/

.container{
    font-family: 'inter', Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    gap: 100px;
}

.menu ul{
   
}

.menu li{
    display: inline;
    
}